certifi==2016.2.28
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.9
en-core-web-sm==2.0.0
graphviz==0.5.2
joblib==0.11
msgpack==0.5.6
msgpack-numpy==0.4.4.3
murmurhash==0.28.0
numpy==1.13.1
plac==0.9.6
preshed==1.0.1
pyreadline==2.1
regex==2017.11.9
requests==2.14.2
scikit-learn==0.19.0
scipy==0.19.1
six==1.13.0
spacy==2.0.13
termcolor==1.1.0
thinc==6.10.3
toolz==0.10.0
tqdm==4.40.0
ujson==1.35
wincertstore==0.2
wrapt==1.11.2
